<div class="badges">
    <a href="https://github.com/StickyMouse27/StickyMouse27.github.io">
        <img alt="Github Badge" target="_blank" src="/images/badges/github.svg">
    </a>
    <a href="https://hexo.io/">
        <img alt="Hexo Badge" target="_blank" src="/images/badges/hexo.svg">
    </a>
    <a href="https://theme-next.js.org/">
        <img alt="NexT Badge" target="_blank" src="/images/badges/next.svg">
    </a>
</div>
<a href="https://icp.gov.moe/?keyword=20257781" target="_blank">萌ICP备20257781号</a>